body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-color: lightgray;
  background-size: cover;
  background-position: center;
}

.grid-container {
  padding: 10px;
  display: grid;
  height: 1000px;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  border: black solid 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-width: 10px;
  border-style: solid;
}

.button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  cursor: grab;
  font-size: large;
  font-weight: 700;
}

.search-button {
  margin: 10px;
  background-color: rgb(117, 94, 219);
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border-color: rgb(117, 94, 219);
}
